.customer{
    width:1200px;
}

.customer section{
    width:980px;
}

.customer nav ul li a{
    width:200px;
}

.customer input[type="text"],
.customer input[type="password"]{
    width:280px;
}

.customer legend{
    font-size:110%;
}

#customer_info{
    margin-bottom:20px;
}
#billing_info{
    float:left;
}

#shipping_info{
    float:right;
}

.customer table, td, th{
    padding:5px;
    border: none;
}
fieldset{
    border: 2px solid black;
}
.address-container{
    overflow: hidden;
}